{% raw %}
<template id="formalization-container">
  <div class="accordion-item row-spacing" data-id="{{ id }}">
    <h2 id="formalization_heading{{ id }}" class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-{{type}}-{{ id }}"
      >
        {{ text }}
      </button>
    </h2>

    <div
      id="collapse-{{type}}-{{ id }}"
      class="accordion-collapse collapse"
      aria-labelledby="formalization_heading{{ id }}"
    ></div>
  </div>
</template>
{% endraw %}
