version: '2.4'
services:
  hanfor:
    container_name: hanfor
    build:
      context: .
    ports:
      - "5000:5000"
    environment:
      - "HANFOR_SECRET_KEY=SomeSafeSecretWhichIsLongAndNotTooShort!!1!11!"
      - "HANFOR_HOST=0.0.0.0"
      - "HANFOR_PORT=5000"
    volumes:
      - ./entrypoint.sh:/usr/src/app/entrypoint.sh
      - ./hanfor/settings.py:/usr/src/app/settings.py
      - ./volumes/data:/usr/src/app/data
      - ./example_input/:/usr/src/app/example_input
