{% extends "layout.html" %}
{% block title %}Ultimate{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <div class="col-12">
                    <label for="ultimate-job-select">Available analyses</label>
                </div>
                <div class="row g-2">
                    <div class="col flex-column ">
                        <select id="ultimate-job-select" class="form-select" aria-describedby="id-addon"></select>
                    </div>
                    <div class="col-auto">
                        <button id="ultimate-job-load-btn" class="btn btn-secondary" type="button">load analysis</button>
                    </div>
                    <div class="col-auto">
                        <button id="ultimate-job-refresh-btn" class="btn btn-secondary" type="button">refresh</button>
                    </div>
                    <div class="col-auto">
                        <button id="ultimate-job-download-btn" class="btn btn-secondary" type="button">download job</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="ultimate-job-meta-tbl" class="table table-hover table-bordered w-100">
        <thead>
            <tr>
                <th class="w-25">Field</th>
                <th class="w-75">Value</th>
            </tr>
            <tr>
                <td>Request ID</td>
                <td id="ultimate-job-request-id"></td>
            </tr>
            <tr>
                <td>Request Time</td>
                <td id="ultimate-job-request-time"></td>
            </tr>
            <tr>
                <td>Last Update</td>
                <td id="ultimate-job-last-update"></td>
            </tr>
            <tr>
                <td>Request Status</td>
                <td id="ultimate-job-request-status"></td>
            </tr>
        </thead>
    </table>
    <table id="ultimate-job-result-tbl" class="table table-hover table-bordered w-100">
        <thead>
            <tr>
                <th style="width: 5%">Log Level</th>
                <th style="width: 5%">Type</th>
                <th >Short Description</th>
                <th >Long Description</th>
            </tr>
        </thead>
    </table>
{% endblock %}
{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        let base_url = '{{ url_for('site', site='/') }}';
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename=BUNDLE_JS) }}"></script>
{% endblock %}