{% extends "layout.html" %}
{% block title %}Ultimate{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tools-tab" data-bs-toggle="tab" href="#tools-pane" role="tab"
                       aria-controls="tools" aria-selected="false">Tools</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade  show active" id="tools-pane" role="tabpanel" aria-labelledby="filter-tab">
                    <div class="row g-2">
                        <div class="col-12">
                            <button id="btnPush" class="btn btn-secondary w-100" type="button">Send Request</button>
                        </div>
                        <div class="col-12 input-group">
                            <span class="input-group-text" id="id-addon" style="width: 8em">RequestID</span>
                            <input type="text" class="form-control" id="requestID"
                                   aria-describedby="id-addon" aria-label="RequestID" title="RequestID">
                        </div>
                        <div class="col-12">
                            <button id="btnGet" class="btn btn-secondary w-100" type="button">Get Request</button>
                        </div>
                        <div class="col-12">
                            <button id="btnDelete" class="btn btn-secondary w-100" type="button">Delete Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="result" style="width:100%" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="width:10%">status</th>
                <th style="width:20%">requestID</th>
                <th>text</th>
            </tr>
        </thead>
    </table>
{% endblock %}
{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        let base_url = '{{ url_for('site', site='/') }}';
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename=BUNDLE_JS) }}"></script>
{% endblock %}