<div class="d-flex justify-content-between">
    <h5>Create new analysis.</h5>
    <div >
        Ultimate status:
        <img id="ultimate-tab-ultimate-status-img" src="{{ url_for('static', filename='img/icons/disconnected.svg') }}" title="No Ultimate API connected" alt="Ultimate status">
    </div>
</div>

<div class="row g-2 row-spacing">
    <div class="col-12 flex-column">
        <div class="input-group">
            <label class="input-group-text" for="ultimate-tab-configuration-select">Ultimate configuration</label>
            <select class="form-select" id="ultimate-tab-configuration-select"></select>
        </div>
    </div>
    <div class="row g-2 w-100">
        <div class="col">
            <button id="ultimate-tab-create-unfiltered-btn" class="btn btn-secondary  w-100" type="button" disabled>Create Analysis all Requirements</button>
        </div>
        <div class="col">
            <button id="ultimate-tab-create-filtered-btn" class="btn btn-secondary  w-100" type="button" disabled>Create Analysis filtered Requirements</button>
        </div>
        <div class="col">
            <button id="ultimate-tab-create-selected-btn" class="btn btn-secondary  w-100" type="button" disabled>Create Analysis selected Requirements</button>
        </div>
    </div>
</div>