<h5>Create new Simulator.</h5>
<input id="simulator-tab-name-input" class="form-control mb-2" type="text" placeholder="my_simulator">
<button id="simulator-tab-create-btn" class="btn btn-secondary mb-2" type="button">Create Simulator</button>

<h5>Start / delete existing Simulator.</h5>
<select id="simulator-tab-select" class="custom-select mb-2"></select>
<button id="simulator-tab-start-btn" class="btn btn-secondary" type="button">Start Simulator</button>
<button id="simulator-tab-delete-btn" class="btn btn-secondary" type="button">Delete Simulator</button>