{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="search-tab" data-bs-toggle="tab" href="#search-pane" role="tab"
                       aria-controls="search" aria-selected="true">Search</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="filter-tab" data-bs-toggle="tab" href="#filter-pane" role="tab"
                       aria-controls="filter" aria-selected="false">Filter</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="columns-tab" data-bs-toggle="tab" href="#columns-pane" role="tab"
                       aria-controls="columns" aria-selected="false">Columns</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="selected-tab" data-bs-toggle="tab" href="#selected-pane" role="tab"
                       aria-controls="selected" aria-selected="false">Edit Selected</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tools-tab" data-bs-toggle="tab" href="#tools-pane" role="tab"
                       aria-controls="tools" aria-selected="false">Tools</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="reports-tab" data-bs-toggle="tab" href="#reports-pane" role="tab"
                       aria-controls="tools" aria-selected="false">Reports</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="log-tab" data-bs-toggle="tab" href="#log-pane" role="tab"
                       aria-controls="log" aria-selected="false">Logs</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="simulator-tab" data-bs-toggle="tab" href="#simulator-pane" role="tab"
                       aria-controls="log" aria-selected="false">Simulator</a>
                </li>
                {% if config.FEATURE_ULTIMATE %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ultimate-tab" data-bs-toggle="tab" href="#ultimate-pane" role="tab"
                       aria-controls="log" aria-selected="false">Analysis</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="search-pane" role="tabpanel" aria-labelledby="search-tab">
                    {% include 'search-tab.html' %}
                </div>
                <div class="tab-pane fade" id="filter-pane" role="tabpanel" aria-labelledby="filter-tab">
                    {% include 'filter-tab.html' %}
                </div>
                <div class="tab-pane fade" id="columns-pane" role="tabpanel" aria-labelledby="columns-tab">
                    {% include 'columns-tab.html' %}
                </div>
                <div class="tab-pane fade" id="selected-pane" role="tabpanel" aria-labelledby="selected-tab">
                    {% include 'edit-selected-tab.html' %}
                </div>
                <div class="tab-pane fade" id="tools-pane" role="tabpanel" aria-labelledby="tools-tab">
                    {% include 'variables/tools-tab.html' %}
                </div>
                <div class="tab-pane fade" id="reports-pane" role="tabpanel" aria-labelledby="reports-tab">
                    {% include 'reports-tab.html' %}
                </div>
                <div class="tab-pane fade" id="log-pane" role="tabpanel" aria-labelledby="log-tab">
                    <div class="col-12" id="log_textarea"></div>
                </div>
                <div class="tab-pane fade" id="simulator-pane" role="tabpanel" aria-labelledby="simulator-tab">
                    {% include 'simulator-tab.html' %}
                </div>
                {% if config.FEATURE_ULTIMATE %}
                <div class="tab-pane fade" id="ultimate-pane" role="tabpanel" aria-labelledby="ultimate-tab">
                    {% include 'ultimate/ultimate-tab.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <table id="requirements_table" class="table table-hover table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>
                <button class="btn btn-secondary btn-sm select-all-button" type="button">All</button>
            </th>
            <th title="Position in CSV file." class="default-col">Pos.</th>
            <th class="default-col">Id</th>
            <th class="default-col">Description</th>
            <th class="default-col">Type</th>
            <th class="default-col">Tags</th>
            <th class="default-col">Status</th>
            <th class="default-col">Formalization</th>
            {% for col in additional_cols %}
                <th class="extra-col">{{ col.table_header_name|title }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td>
                <button class="btn btn-secondary btn-sm select-all-button" type="button">All</button>
            </td>
            <td title="Position in CSV file." class="default-col">Pos.</td>
            <th class="default-col">Id</th>
            <th class="default-col">Description</th>
            <th class="default-col">Type</th>
            <th class="default-col">Tags</th>
            <th class="default-col">Status</th>
            <th class="default-col">Formalization</th>
            {% for col in additional_cols %}
                <th class="extra-col">{{ col.table_header_name|title }}</th>
            {% endfor %}
        </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
    {% include 'requirement-modal.html' %}
    {% include 'report-modal.html' %}
    {% include 'formalizations/container.html' %}
    {% include 'formalizations/formalization.html' %}
{% endblock %}
{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        let search_query = '{{ query|tojson }}';
        let _PATTERNS = JSON.parse('{{ patterns|tojson }}');
        let init_table_connection_functions = []
    </script>

    {% if config.FEATURE_ULTIMATE %}
        <script type="text/javascript" src="{{ url_for('static', filename='dist/ultimate_tab-bundle.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/requirements-bundle.js') }}"></script>

{% endblock %}
