{# templates/layout.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Requirements transformer web frontend.">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <title>{% block title %}{% endblock %} | Hanfor.</title>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('site', site='/') }}"
               title="Hanfor helps analyzing and formalizing requirements.">Hanfor</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar_main" aria-controls="navbarColor01" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar_main">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item{% if request.path == '/' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('site', site='/') }}">Start</a>
                    </li>
                    <li class="nav-item{% if request.path == '/variables' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('site', site='variables') }}">Variables</a>
                    </li>
                    <li class="nav-item{% if request.path == '/tags' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('site', site='tags') }}">Tags</a>
                    </li>
                    <li class="nav-item{% if request.path == '/statistics' %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for('site', site='statistics') }}">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ultimate-pa.github.io/hanfor/" target="_blank">Help</a>
                    </li>
                </ul>
                <span class="navbar-text" id="runtime-info">
                    Running <code>{{ config.SESSION_TAG }}</code> @ <code>{{ config.USING_REVISION }}</code>&nbsp;
                </span>
            </div>
            <ul class="navbar-nav flex-row ms-md-auto d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link text-nowrap" href="#" id="bd-versions" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        About &#x25BC;
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-versions">
                        <h6 class="dropdown-header">Session Information</h6>
                        <span class="dropdown-item">
                            Running: <code>{{ config.SESSION_TAG }}</code> @ <code>{{ config.USING_REVISION }}</code>
                        </span>
                        <span class="dropdown-item">
                            CSV input: <code>{{ config.CSV_INPUT_FILE }}</code>
                        </span>
                        <div class="dropdown-divider"></div>

                        <div class="mx-3 form-check form-switch">
                            <input class="form-check-input" id="dark_theme_switch" type="checkbox" role="switch">
                            <label class="form-check-label" for="dark_theme_switch">Dark Mode</label>
                        </div>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Hanfor Version</h6>
                        <a class="dropdown-item title-link" target="_blank"
                           href="https://github.com/ultimate-pa/hanfor/tree/{{ config.HANFOR_COMMIT_HASH }}">
                            Hanfor&nbsp;{{ config.HANFOR_VERSION }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
<main role="main">
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
</main>
<script type="text/javascript" src="{{ url_for('static', filename='dist/commons-bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/layout_globals-bundle.js') }}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>