<h5>Do rt-inconsistency pre-check.</h5>
<div class="row g-2 row-spacing">
    <div class="col flex-column">
        <input id="rti-tab-rti-check-input" class="form-control" type="text" placeholder="depth of search (number of chain-requirements)">
    </div>
    <div class="col-auto">
        <button id="rti-tab-rti-check-btn" class="btn btn-secondary" type="button">Check</button>
    </div>

    <div class="col-auto">
        <button id="rti-tab-start-btn" class="btn btn-secondary" type="button">Open</button>
    </div>

</div>




