<div class="input-group mb-3 flex-nowrap top-padding">
    <div class="input-group-prepend">
        <img class="input-group-text" src="{{ url_for('static', filename='img/icons/magnifying-glass.svg') }}" alt="search">
    </div>
    <input id="search_bar" type="text" class="form-control" placeholder="Search table">
    <span class="input-group-append search-input-clear-span">
        <button class="btn btn-secondary clear-all-filters" type="button">
            <div id="clear-all-filters-text">Clear all.</div>
        </button>
    </span>
</div>
