<!--
<table class="table table-sm">
    <thead>
    <tr>
        <th class="col-5" scope="col">Name</th>
        <th class="col-5" scope="col">Type</th>
        <th class="col-2" scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    {% for variable in simulator.variables.keys() %}
        <tr>
            <td>{{ variable }}</td>
            <td>{{ variable.symbol_type() }}</td>
            <td><input id="{{ variable }}_input" class="form-control form-control-sm" type="text"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
-->

<div class="form-row">
    {% for variable in simulator.variables.keys() %}
        <div class="col-sm-2">
            <div class="simulator-variables input-group">
                <div class="input-group-prepend">
                    <span id="{{ variable }}_variable_input_prepend" class="input-group-text" style="border: 0"></span>
                </div>

                <input id="{{ variable }}_variable_input" class="form-control" type="text">
                <label for="{{ variable }}_variable_input">
                    <span class="lhs text-truncate">{{ variable }}</span>
                    <span class="rhs">{{ variable.symbol_type() }}</span>
                </label>
            </div>
        </div>
    {% endfor %}
</div>