<div id="simulator_modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="simulator_modal_title" class="modal-title">Simulator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form>
                    <div class="form-row">

                        {% for item in simulator.variables.keys() %}
                            <div class="col-sm-2">
                                <div class="form-label-group mb-2">
                                    <input type="text" id="input2" class="form-control" placeholder="Text" required="">
                                    <label class="text-truncate" for="input2">{{ item }}</label>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <!--
                    <div class="form-row">
                        {% for item in simulator.variables.keys() %}
                            <div class="col-sm-3">
                                <div class="input-group input-group-sm mb-2">
                                    <div class="input-group-prepend w-75">
                                        <span class="input-group-text text-truncate text-left d-block w-100" id="basic-addon3">{{ item }}</span>
                                    </div>
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    -->

                </form>

                <!--
                <div class="form-group col-sm-3">
                    {% for item in simulator.variables.keys() %}
                        <div class="input-group mb-2">
                            <div class="input-group-prepend w-75">
                                <span class="input-group-text w-100">{{ item }}</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                    {% endfor %}
                </div>
                -->

                <hr>

                {% include "simulator-accordion.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>