<div id="simulator-countertraces-accordion" class="accordion">
    {% for requirement, formalizations in simulator.get_pea_mapping().items() %}
        <div class="simulator-countertraces-card card">
            <div class="card-header" id="heading-{{ requirement.rid }}">
                <h5 class="mb-0">
                    <button class="btn btn-sm btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse-{{ requirement.rid }}" aria-expanded="true"
                            aria-controls="collapse-{{ requirement.rid }}">
                        {{ requirement.rid }}
                    </button>
                </h5>
            </div>

            <div id="collapse-{{ requirement.rid }}" class="collapse show" aria-labelledby="heading-{{ requirement.rid }}">
                <div class="card-body">
                    <label>Formalizations / Countertraces</label>
                    {% for formalization, peas in formalizations.items() %}
                        <pre class="alert alert-secondary">{{ formalization.get_string() }}</pre>

                        <ul class="list-group mb-3">
                            {% for countertrace_id, pea in peas.items() %}
                                <li class="list-group-item">
                                    {% for dc_phase in pea.countertrace.dc_phases %}
                                        {{ ";" if loop.index > 1 }}
                                        <code id="{{ "%s_%s_%s_%s_dc_phase" % (requirement.rid, formalization.id, countertrace_id, loop.index - 1) }}"
                                              class="text-dark">{{ dc_phase }}</code>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>