<div id="simulator_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="simulator_modal_title" class="modal-title">Simulator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col" style="height: 300px; resize: vertical; overflow: auto">
                            <canvas id="chart-canvas" style="width: 100%; max-height: 100%"></canvas>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <select id="simulator-step-transition-select" class="custom-select mb-2"></select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col text-right">
                            <button id="simulator-step-back-btn" class="btn btn-secondary mb-2" type="button">
                                Back
                            </button>
                            <button id="simulator-step-check-btn" class="btn btn-secondary mb-2" type="button">
                                Check
                            </button>
                            <button id="simulator-step-next-btn" class="btn btn-secondary mb-2" type="button">
                                Next
                            </button>
                        </div>
                    </div>
                </div>


                {% include "simulator-modal-variables.html" %}
                {% include "simulator-modal-countertraces.html" %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>