<div id="simulator-accordion" class="accordion">

    {% for requirement, formalizations in simulator.mapping_peas().items() %}
        <div class="simulator-accordion-card card">
            <div class="card-header" id="heading-{{ requirement.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse-{{ requirement.id }}" aria-expanded="false"
                            aria-controls="collapse-{{ requirement.id }}">
                        {{ requirement.id }}
                    </button>
                </h5>
            </div>

            <div id="collapse-{{ requirement.id }}" class="collapse" aria-labelledby="heading-{{ requirement.id }}">
                <div class="card-body">

                    {% for formalization, peas in formalizations.items() %}
                        <label>Formalization</label>
                        <pre class="alert alert-secondary">{{ formalization.get_string() }}</pre>

                        <label>Countertraces</label>
                        <ul class="list-group">

                            {% for countertrace_id, pea in peas.items() %}
                                <li class="list-group-item">

                                    {% for dc_phase in pea.countertrace.dc_phases %}
                                        {{ loop.index <= 1 or ";" }}
                                        <code class={{ "alert-success" if loop.index == 2 else "text-dark" }}>{{ dc_phase }}</code>
                                    {% endfor %}

                                </li>
                            {% endfor %}

                        </ul>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endfor %}

</div>