<div id="simulator_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="simulator_modal_title" class="modal-title">Simulator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row py-2">
                        <div class="col" style="height: 300px; resize: vertical; overflow: auto">
                            <canvas id="chart-canvas" style="width: 100%; max-height: 100%"></canvas>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col">
                            <select id="simulator-step-transition-select" class="custom-select"></select>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col">
                            {% include "simulator-modal-controls.html" %}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col">
                            {% include "simulator-modal-variables.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "simulator-modal-countertraces.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>