<div class="simulator-accordion-card card">
    <div class="card-header" id="heading-{{ item.id }}">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapse-{{ item.id }}" aria-expanded="false"
                    aria-controls="collapse-{{ item.id }}">
                {{ item.id }}
            </button>
        </h5>
    </div>

    <div id="collapse-{{ item.id }}" class="collapse" aria-labelledby="heading-{{ item.id }}">
        <div class="card-body">
            <label for="formalization_div">Formalization</label>
            <pre id="formalization_div" class="alert alert-secondary">{{ item.formalization }}</pre>

            <label for="countertrace_div">Countertrace</label>
            <pre id="counter_trace_div" class="alert alert-secondary">{{ item.counter_trace }}</pre>
        </div>
    </div>
</div>