{# templates/variables.html #}
{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block body %}
    <h1>Statistics</h1>
    <h4>Processed requirements.</h4>
    <canvas id="processed_pie" width="50%"></canvas>
    <h4>Requirement types.</h4>
    <canvas id="requirement_types" width="50%"></canvas>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.bundle.min.js') }}"></script>
    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        $(document).ready(function () {
            statistics_request = $.get('api/stats/gets', function (data) {
                var processed_pie = new Chart(
                    document.getElementById("processed_pie").getContext('2d'),
                    {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: [data.todo, data.review, data.done],
                            backgroundColor: [
                                window.chartColors.red,
                                window.chartColors.orange,
                                window.chartColors.green
                            ],
                            label: 'Processed requirements.'
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: [
                            'Todo',
                            'Review',
                            'Done'
                        ]
                    },
                    options: {
                        responsive: true
                    }
                });
                var types_pie = new Chart(
                    document.getElementById("requirement_types").getContext('2d'),
                    {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: data.type_counts,
                            backgroundColor: data.type_colors,
                            label: 'Requirement types.'
                        }],
                        labels: data.type_names
                    },
                    options: {
                        responsive: true
                    }
                });
            });
        });
    </script>
{% endblock %}