{# templates/variables.html #}
{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block body %}
    <h1>Statistics</h1>
    <h4>Processed requirements.</h4>
    <canvas id="processed_pie" width="50%"></canvas>
    <h4>Requirement types.</h4>
    <canvas id="requirement_types" width="50%"></canvas>
    <h4>Most used variables.</h4>
    <canvas id="top_variables" width="50%"></canvas>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/stats-bundle.js') }}"></script>
{% endblock %}