{# templates/tags.html #}
{% extends "layout.html" %}
{% block title %}Tags{% endblock %}
{% block body %}
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            <img src="{{ url_for('static', filename='img/icons/magnifying-glass.svg') }}">
        </span>
        <input id="search_bar" type="text" class="form-control" placeholder="Search table"
               aria-describedby="basic-addon1">
    </div>
    <table id="tags_table" class="table table-hover table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Used by</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Used by</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </tbody>
    </table>
    {% include 'tag-modal.html' %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var base_url = '{{ url_for('site', site='/') }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/tags-bundle.js') }}"></script>
{% endblock %}
