<div id="ultimate_run_modal"
 class="modal fade"
 tabindex="-1"
 role="dialog"
 aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal_title" class="modal-title"></h5>
                <input type="hidden" id="modal_associated_row_index" hidden />
                <input type="hidden" id="modal_run_job_id" hidden />
                <input type="hidden" id="modal_run_ultimate_job_id" hidden />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>
                    <a id="show_info_accordion"
                       class="modal-content-collapse"
                       data-toggle="collapse"
                       href="#info_accordion"
                       role="button"
                       aria-expanded="false">
                        <i class="fa fa-caret-square-down"></i> Infos
                    </a>
                </h5>
                <div id="info_accordion" class="collapse">
                    <p>State: <span id="run_state_badge" class="badge">Running</span></p>
                    <div class="form-group">
                        <label for="run_name_input">Run name</label>
                        <div class="input-group mb-3">
                          <input id="run_name_input" type="text" class="form-control" placeholder="Enter name."
                                 aria-describedby="input_name_help">
                          <div class="input-group-append">
                              <button class="btn btn-success run-updater" type="button">
                                  <i class="fas fa-save"></i>
                              </button>
                          </div>
                        </div>
                        <small id="input_name_help" class="form-text text-muted">
                            A descriptive name for this run (optional).
                        </small>
                    </div>
                </div>
                <h5>
                    <a id="show_results_accordion"
                       class="modal-content-collapse"
                       data-toggle="collapse"
                       href="#results_accordion"
                       role="button"
                       aria-expanded="false">
                        <i class="fa fa-caret-square-down"></i> Results
                    </a>
                </h5>
                <div id="results_accordion" class="collapse">
                    No results.
                </div>
                <h5>
                    <a id="show_req_file_content"
                       class="modal-content-collapse"
                       data-toggle="collapse"
                       href="#req_file_accordion"
                       role="button"
                       aria-expanded="false">
                        <i class="fa fa-caret-square-down"></i> Req file content
                    </a>
                </h5>
                <pre id="req_file_accordion" class="collapse code">
                    Error.
                </pre>
            </div>
            <div class="modal-footer">
                <button id="reload_run" type="button" class="btn btn-info"><i class="fas fa-sync"></i> Reload</button>
                <button name="stop_run"
                        id="start_ultimate_run"
                        class="btn btn-large btn-success"
                        data-toggle="confirmation"
                        data-btn-ok-label="Yes!"
                        data-btn-ok-class="btn-success"
                        data-btn-cancel-label="No"
                        data-btn-cancel-class="btn-danger"
                        data-title="Sure?" data-content="Start this Run?">
                      <i class="fas fa-play"></i> Start
                </button>
                <button name="stop_run"
                        id="stop_ultimate_run"
                        class="btn btn-large btn-danger"
                        data-toggle="confirmation"
                        data-btn-ok-label="Yes!"
                        data-btn-ok-class="btn-success"
                        data-btn-cancel-label="No"
                        data-btn-cancel-class="btn-danger"
                        data-title="Sure?" data-content="Stop this Run?">
                      <i class="fas fa-stop"></i> Stop
                </button>
                <button name="delete_run"
                        id="delete_ultimate_run"
                        class="btn btn-large btn-danger"
                        data-toggle="confirmation"
                        data-btn-ok-label="Yes!"
                        data-btn-ok-class="btn-success"
                        data-btn-cancel-label="No"
                        data-btn-cancel-class="btn-danger"
                        data-title="Sure?" data-content="Delete this Run?">
                      <i class="fas fa-trash"></i> Delete
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i>
                    Close</button>
            </div>
        </div>
    </div>
</div>