<div id="ultimate_run_modal"
 class="modal fade"
 tabindex="-1"
 role="dialog"
 aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tag_modal_title" class="modal-title"></h5>
                <input type="hidden" id="modal_associated_row_index" hidden />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Info</h5>
                <h5>Results</h5>
            </div>
            <div class="modal-footer">
                <button name="stop_run"
                        id="stop_ultimate_run"
                        class="btn btn-large btn-danger"
                        data-toggle="confirmation"
                        data-btn-ok-label="Yes!"
                        data-btn-ok-class="btn-success"
                        data-btn-cancel-label="No"
                        data-btn-cancel-class="btn-danger"
                        data-title="Sure?" data-content="Stop this Run?">
                      Stop Run
                </button>
                <button name="delete_run"
                        id="delete_ultimate_run"
                        class="btn btn-large btn-danger"
                        data-toggle="confirmation"
                        data-btn-ok-label="Yes!"
                        data-btn-ok-class="btn-success"
                        data-btn-cancel-label="No"
                        data-btn-cancel-class="btn-danger"
                        data-title="Sure?" data-content="Delete this Run?">
                      Delete Run
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>