{# templates/variables.html #}
{% extends "layout.html" %}
{% block title %}Variables{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search-pane" role="tab"
                           aria-controls="search" aria-selected="true">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="import-tab" data-toggle="tab" href="#import-pane" role="tab"
                           aria-controls="import" aria-selected="false">Import</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="multi-edit-tab" data-toggle="tab" href="#multi-edit-pane" role="tab"
                           aria-controls="multi-edit" aria-selected="false">Edit Selected</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools-pane" role="tab"
                           aria-controls="tools" aria-selected="false">Tools</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="search-pane" role="tabpanel"
                     aria-labelledby="search-tab">
                    <div class="input-group top-padding">
                        <span class="input-group-addon" id="basic-addon1">
                            <img src="{{ url_for('static', filename='img/icons/magnifying-glass.svg') }}">
                        </span>
                        <input id="search_bar" type="text" class="form-control" placeholder="Search table"
                                aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="tab-pane fade" id="import-pane" role="tabpanel" aria-labelledby="import-tab">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="row">
                              <div class="col-12">
                                  <h4><a href="#" data-toggle="collapse" data-target="#collapseExSessions"
                                         aria-expanded="true" aria-controls="collapseExSessions">
                                      Existing Hanfor Sessions</a></h4><hr>
                              </div>
                            </div>
                            <div id="collapseExSessions" class="collapse"
                                 aria-labelledby="headingOne" data-parent="#accordion">
                                {% for ses in available_sessions %}
                                <div class="row">
                                    <div class="col-12">
                                        <h6><code>{{ ses.name }}</code></h6>
                                        <ul>
                                            {% for revision, revision_stats in ses.revisions_stats.items() %}
                                            <li>
                                                <a href="#" class="import_link"
                                                   data-name="{{ ses.name }}"
                                                   data-revision="{{ revision }}">
                                                    <code>{{ revision }}</code>
                                                    with {{ revision_stats.num_vars }} variables
                                                    (Last edit: {{ revision_stats.last_mod }})
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                              <div class="col-12">
                                  <h4><a href="#" class="collapsed" data-toggle="collapse"
                                         data-target="#collapseAvImportSessions" aria-expanded="false"
                                         aria-controls="collapseAvImportSessions">Running Import Sessions</a></h4><hr>
                              </div>
                            </div>
                            <div id="collapseAvImportSessions" class="collapse"
                                 aria-labelledby="headingOne" data-parent="#accordion">
                                {% for sess_id, ses in running_import_sessions.items() %}
                                    {% if config.SESSION_TAG == ses.target[2] %}
                                        <div class="row">
                                            <div class="col-12">
                                                <h6><a href="{{ url_for('site', site='/') }}/variable_import/{{ ses.id }}"
                                                       target="_blank"><code>Session{{ ses.id }}</code></a></h6>
                                                <ul>
                                                    <li>Source: <code>{{ ses.source[2] }} - {{ ses.source[1] }}</code></li>
                                                    <li>Target: <code>{{ ses.target[2] }} - {{ ses.target[1] }}</code></li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="multi-edit-pane" role="tabpanel"
                         aria-labelledby="multi-edit-tab">
                        <div class="card-body">
                            <div class="input-group top-padding">
                                <span class="input-group-addon" id="multi-change-type" style="width: 7em">To Type</span>
                                <input type="text" class="form-control" id="multi-change-type-input"
                                       aria-describedby="multi-change-type">
                            </div>
                            <div class="row top-padding">
                                <div class="col-12">
                                    <div class="btn-group">
                                        <button class="btn btn-primary apply-multi-edit" type="button">
                                            Apply multi edit.
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button name="delete"
                                            class="delete_button btn btn-danger"
                                            data-toggle="confirmation"
                                            data-btn-ok-label="Yes"
                                            data-btn-ok-class="btn-success"
                                            data-btn-cancel-label="Nooo Stoooop!"
                                            data-btn-cancel-class="btn-danger"
                                            data-title="Sure?" data-content="Delete all selected variables?">
                                          Delete selected variables.
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="tab-pane fade" id="tools-pane" role="tabpanel" aria-labelledby="tools-tab">
                    <div class="card-body">
                        <form id="generate_req_form" method="post"
                              action="{{ url_for('api', resource='var', command='gen_req') }}"
                              target="_blank">
                        </form>
                        <div class="input-group top-padding">
                            <button id="generate_req"
                                    class="btn btn-secondary btn-block"
                                    type="button">
                                Generate .req file for variables.
                            </button>
                        </div>
                        <div class="input-group top-padding">
                            <button class="btn btn-success btn-block add-new-enum"
                                    type="button"
                                    data-toggle="modal"
                                    data-target="#variable_new_enum_modal">
                                + Add new enum.
                            </button>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <table id="variables_table" class="table table-hover table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <td>
                <button class="btn btn-secondary btn-sm select-all-button" type="button">All</button>
            </td>
            <th>Name</th>
            <th>Type</th>
            <th>Used by</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td>
                <button class="btn btn-secondary btn-sm select-all-button" type="button">All</button>
            </td>
            <th>Name</th>
            <th>Type</th>
            <th>Used by</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </tbody>
    </table>
    {% include 'variable-modal.html' %}
    {% include 'variable-import-modal.html' %}
    {% include 'variable-new-enum-modal.html' %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var base_url = '{{ url_for('site', site='/') }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/variables-bundle.js') }}"></script>
{% endblock %}