<div id="variable_modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="variable_modal_title" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Properties</h5>
                    <div id="variable_type_form_group" class="form-group">
                            <div class="row form-inline">
                                <div class="input-group col-md-12">
                                    <span class="input-group-prepend input-group-text" id="type-addon" style="width: 5em">Type</span>
                                    <input type="text"
                                           class="form-control"
                                           id="variable_type"
                                           aria-describedby="type-addon"
                                           aria-label="type"
                                           title="type">
                                </div>
                            </div>
                    </div>
                    <div id="variable_value_form_group" class="form-group">
                            <div class="row form-inline">
                                <div class="input-group col-md-12">
                                    <span class="input-group-prepend input-group-text" id="value-addon" style="width: 5em">Value</span>
                                    <input type="text"
                                           class="form-control"
                                           id="variable_value"
                                           aria-describedby="value-addon"
                                           aria-label="value"
                                           title="value">
                                </div>
                            </div>
                    </div>
                    <h5 class="enum-controls">
                        Enumerators
                    </h5>
                    <div id="enumerators" class="enum-controls"></div>
                    <div id="constraints_container">
                    <h5>
                        Constraints
                    </h5>
                        <div id="constraints_list"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save_variable_modal" type="button" data-name="" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>