<div id="variable_new_enum_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new enum.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Properties</h5>
                    <div class="row form-inline">
                        <div class="input-group col-md-12">
                            <span class="input-group-addon" id="type-addon" style="width: 5em">Name</span>
                            <input type="text"
                                   class="form-control"
                                   id="enum_name"
                                   aria-describedby="type-addon"
                                   aria-label="type"
                                   title="type">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save_new_enum_modal" type="button" class="btn btn-primary">Add enum</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>