<div id="variable_new_vaiable_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new Variable.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Properties</h5>
                    <div class="row form-inline">
                        <div class="input-group col-md-12">
                            <span class="input-group-prepend input-group-text" id="name-addon" style="width: 5em">Name</span>
                            <input type="text"
                                   class="form-control"
                                   id="new_variable_name"
                                   aria-describedby="name-addon"
                                   aria-label="name"
                                   title="name">
                        </div>
                        <div class="input-group col-md-12 top-padding">
                            <span class="input-group-prepend input-group-text" id="type-addon" style="width: 5em">Type</span>
                            <select class="form-control"
                                    id="new_variable_type"
                                    aria-describedby="type-addon"
                                    aria-label="type"
                                    title="type">
                                <option selected value="INT">INT</option>
                                <option value="REAL">REAL</option>
                                <option value="ENUM_INT">ENUM_INT</option>
                                <option value="ENUM_REAL">ENUM_REAL</option>
                                <option value="CONST">CONST</option>
                                <option value="BOOL">BOOL</option>
                            </select>
                        </div>
                        <div id="new_variable_const_input" class="input-group col-md-12  top-padding">
                            <span class="input-group-prepend input-group-text" id="const-val-addon" style="width: 5em">Value</span>
                            <input type="number"
                                   step="any"
                                   class="form-control"
                                   id="new_variable_const_value"
                                   aria-describedby="const-val-addon"
                                   aria-label="value"
                                   title="value">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save_new_variable_modal" type="button" class="btn btn-primary">Add Variable</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>