{# templates/variable-import-session.html #}
{% extends "layout.html" %}
{% block title %}Variable Import Session{% endblock %}
{% block body %}
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search-pane" role="tab"
                           aria-controls="search" aria-selected="true">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools-pane" role="tab"
                           aria-controls="tools" aria-selected="false">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="help-tab" data-toggle="tab" href="#help-pane" role="tab"
                           aria-controls="tools" aria-selected="false">Help</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="search-pane" role="tabpanel"
                     aria-labelledby="search-tab">
                    <div class="input-group top-padding">
                        <span class="input-group-addon" id="basic-addon1">
                            <img src="{{ url_for('static', filename='img/icons/magnifying-glass.svg') }}">
                        </span>
                        <input id="search_bar" type="text" class="form-control" placeholder="Search table"
                                aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="tab-pane fade" id="tools-pane" role="tabpanel" aria-labelledby="tools-tab">
                    <div class="card-body">
                            <div class="row top-padding">
                                <div class="col-12">
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button
                                                    class="btn btn-success tools-btn"
                                                    type="button"
                                                    data-action="apply-import"
                                                    data-toggle="modal"
                                                    data-target="#variable_new_enum_modal">
                                                Apply import
                                            </button>
                                            <button id="delete_session_button"
                                                    class="btn btn-danger tools-btn"
                                                    data-toggle="confirmation"
                                                    data-action="delete-session"
                                                    data-btn-ok-label="Yes"
                                                    data-btn-ok-class="btn-success"
                                                    data-btn-cancel-label="Nooo Stoooop!"
                                                    data-btn-cancel-class="btn-danger"
                                                    data-title="Sure?"
                                                    data-content="Delete this variable import session?">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="help-pane" role="tabpanel" aria-labelledby="help-tab">
                    <div class="container-fluid">
                        One import session imports variables from a source variable collection into a target
                        collection.
                        <h4>Controls</h4>
                        Control status change the way how a variable is handled during import.
                            <ul>
                                <li>
                                    <span class="badge badge-info">skip</span>
                                    Do nothing for this variable.
                                </li>
                                <li>
                                    <span class="badge badge-info">source</span>
                                    Use the version from the source colection.
                                </li>
                                <li>
                                    <span class="badge badge-info">target</span>
                                    Use the version currently in the target collection.
                                </li>
                                <li>
                                    <span class="badge badge-info">custom</span>
                                    When this variable is edited here.
                                </li>
                            </ul>
                        <h4>Available Attributes</h4>
                        Attributes are added to variables to enable specific searching.
                        <ul>
                            <li>
                                <span class="badge badge-info">match_in_source_and_target</span>
                                When this variable is available in both source and target.
                            </li>
                            <li>
                                <span class="badge badge-info">no_match_in_source</span>
                                When this variable is missing in the source variable collection.
                            </li>
                            <li>
                                <span class="badge badge-info">no_match_in_target</span>
                                When this variable is missing in the target variable collection.
                            </li>
                            <li>
                                <span class="badge badge-info">unmatched_types</span>
                                When the types of the variable differ from source to target.
                            </li>
                            <li>
                                <span class="badge badge-info">same_types</span>
                                When the variable types match in source and target.
                            </li>
                        </ul>
                        <h4>Constraints</h4>
                        By default constraints from the target version of the variable will be added into the result
                        .<br>
                        To decide on which constraints are taken into account, open the result variable and toggle
                        constraints on or off.
                    </div>
                </div>
            </div>
        </div>
    <table id="var_import_table" class="table table-hover table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <td>
                <button class="btn btn-secondary btn-sm select-all-button" type="button">All</button>
            </td>
            <th>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" data-action="skip" class="action-btn btn btn-info">Skip</button>
                    <button type="button" data-action="source" class="action-btn btn btn-info">Source</button>
                    <button type="button" data-action="target" class="action-btn btn btn-info">Target</button>
                    <button type="button" data-action="custom" class="action-btn btn btn-info">Custom</button>
                </div>
            </th>
            <th>Attributes</th>
            <th>Source</th>
            <th>Target</th>
            <th>Result</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td>
                <button class="btn btn-secondary btn-sm select-all-button" type="button">All</button>
            </td>
            <th>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" data-action="skip" class="action-btn btn btn-info">Skip</button>
                    <button type="button" data-action="source" class="action-btn btn btn-info">Source</button>
                    <button type="button" data-action="target" class="action-btn btn btn-info">Target</button>
                    <button type="button" data-action="custom" class="action-btn btn btn-info">Custom</button>
                </div>
            </th>
            <th>Attributes</th>
            <th>Source</th>
            <th>Target</th>
            <th>Result</th>
        </tr>
        </tfoot>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </tbody>
    </table>
{% include 'variable-import-session-modal.html' %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        const base_url = '{{ url_for('site', site='/') }}';
        const session_id = '{{ id }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/variable_import-bundle.js') }}"></script>
{% endblock %}