{# templates/variables.html #}
{% extends "layout.html" %}
{% block title %}Variables{% endblock %}
{% block body %}
    <div class="container-fluid top-padding">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search-pane" role="tab"
                               aria-controls="search" aria-selected="true">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="import-tab" data-toggle="tab" href="#import-pane" role="tab"
                               aria-controls="import" aria-selected="false">Import</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="search-pane" role="tabpanel"
                         aria-labelledby="search-tab">
                        <div class="input-group top-padding">
                            <span class="input-group-addon" id="basic-addon1">
                                <img src="{{ url_for('static', filename='img/icons/magnifying-glass.svg') }}">
                            </span>
                            <input id="search_bar" type="text" class="form-control" placeholder="Search table"
                                    aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="import-pane" role="tabpanel" aria-labelledby="import-tab">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-12"><h4>Current Session</h4><hr></div>
                            </div>
                            <div class="row">
                                    <div class="col-12">
                                        <h6><code>{{ current_session }}</code> at <code>{{ current_revision }}</code></h6>
                                    </div>
                            </div>
                            <div class="row">
                              <div class="col-12"><h4>Existing Sessions</h4><hr></div>
                            </div>
                                {% for ses in available_sessions %}
                                <div class="row">
                                    <div class="col-12">
                                        <h6><code>{{ ses.name }}</code></h6>
                                        <ul>
                                            {% for revision in ses.revisions %}
                                            <li>
                                                <a href="#" class="import_link"
                                                   data-name="{{ ses.name }}"
                                                   data-revision="{{ revision }}"><code>{{ revision }}</code></a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <table id="variables_table" class="table table-hover table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Used by</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Used by</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </tbody>
    </table>
    {% include 'variable-modal.html' %}
    {% include 'variable-import-modal.html' %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var base_url = '{{ url_for('site', site='/') }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/variables-bundle.js') }}"></script>
{% endblock %}