{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
    <h1>Statistics</h1>
    <div class="row">
        <div class="col-12">
            <p>
                To hide/unhide specific data, click on the label. <br />
                Hover over the areas to get more information on the data via tooltip.
            </p>
        </div>
    </div>
    <h4>General Statistics.</h4>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card"><div class="card-body">
            <h4 class="card-title">Processed requirements.</h4>
            <canvas id="processed_pie" width="50%"></canvas>
            </div></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card"><div class="card-body">
            <h4 class="card-title">Requirement types.</h4>
            <canvas id="requirement_types" width="50%"></canvas>
            </div></div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4>Most used variables.</h4>
                    <canvas id="top_variables"></canvas>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4>Tags per type.</h4>
    <div class="row" id="tags_per_type"></div>
    <hr />
    <h4>Status per type.</h4>
    <div class="row" id="status_per_type"></div>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Variable-Requirement Network.</h4>
                    <div id="cy"></div>
                    <button class="btn btn-secondary col-12" type="button" id="save-graph">Save as Image</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename=BUNDLE_JS) }}"></script>
{% endblock %}