<div class="row g-2">
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="status-filter" style="width: 5em">Status</span>
            <input type="text" class="form-control" id="status-filter-input" aria-describedby="status-filter">
        </div>
    </div>
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="tag-filter" style="width: 5em">Tags</span>
            <input type="text" class="form-control" id="tag-filter-input" aria-describedby="tag-filter">
        </div>
    </div>
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="type-filter" style="width: 5em">Type</span>
            <input type="text" class="form-control" id="type-filter-input" aria-describedby="type-filter">
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-secondary w-100 clear-all-filters" type="button">Clear All Filters</button>
    </div>
</div>