<link rel="stylesheet" href="/ai_addons/example_ai_addon/static/example_addon.css">


<div class="section">
    <div class="section-header">Example Addon - Counter</div>
    <div class="section-body">
        <div class="example-addon-counter-div">
            <div>
                <div class="example-addon-metric-label">My Counter</div>
                <div class="example-addon-metric-value" id="private-counter">0</div>
                <button class="btn" id="btn-private">Increment mine</button>
            </div>

            <div>
                <div class="example-addon-metric-label">Global Counter</div>
                <div class="example-addon-metric-value" id="global-counter">0</div>
                <button class="btn" id="btn-global">Increment for everyone</button>
            </div>
        </div>
    </div>
</div>
