<div class="col-auto">
    <button id="simulator-scenario-load-btn" class="btn btn-secondary mr-2">
        <label for="simulator-scenario-load-input">Load Scenario</label>
    </button>
    <input id="simulator-scenario-load-input" type="file" style="display:none"/>
</div>

<div class="col-auto">
    <button id="simulator-scenario-save-btn" class="btn btn-secondary">Save Scenario</button>
</div>

<div class="col-auto">
    <button id="simulator-scenario-exit-btn" class="btn btn-secondary">Exit Scenario Mode</button>
</div>

<div class="col-auto position-relative">
    <input id="simulator-max-results-input" class="form-control" type="number" min="-1" title="Max. results">
    <div class="invalid-tooltip">
        Please provide a valid value.
    </div>
</div>

<div class="col-auto position-relative">
    <input id="simulator-time-step-input" class="form-control" type="number" min="0" step="any" title="Duration">
    <div class="invalid-tooltip">
        Please provide a valid value.
    </div>
</div>

<div class="col-auto">
    <button id="simulator-step-check-btn" class="btn btn-secondary" type="button">Check</button>
</div>

<div class="col-auto">
    <button id="simulator-step-next-btn" class="btn btn-secondary" type="button">Next</button>
</div>

<div class="col-auto">
    <button id="simulator-step-back-btn" class="btn btn-secondary" type="button">Back</button>
</div>

<div class="col-auto">
    <button id="simulator-variable-constraints-btn" class="btn btn-secondary" type="button">Variable Constraints</button>
</div>