{% for variable in simulator.variables.keys() %}
    <div class="col-2">
        <div class="simulator-variables input-group">
            <span id="{{ variable }}_variable_input_prepend" class="input-group-text" style="border: 0"></span>

            <div class="form-floating">
                <input id="{{ variable }}_variable_input" class="form-control" type="text"
                       pattern="{{ valid_patterns[variable.symbol_type()] }}">
                <label for="{{ variable }}_variable_input">
                    <span class="lhs text-truncate">{{ variable }}</span>
                    <span class="rhs">{{ variable.symbol_type() }}</span>
                </label>
            </div>

            <div class="invalid-tooltip">Please provide a valid value.</div>
        </div>
    </div>
{% endfor %}