.dataTables_wrapper {
    padding-bottom: 10px;
}

.top-padding {
    padding-top: 10px;
}

body,
body.modal-open{
    overflow: visible;
    padding-right: 0 !important;
    position: inherit;
}

#requirements_table > tbody > tr > td {
    word-break: break-all;
}

.ui-front {
    z-index: 9999999 !important;
}

#requirement_pattern.form-control.formalization_selector {
    width: 100%;
}

#variables_table .badge-info a,
#requirements_table td a {
    color: #000;
}

#variables_table .badge-info a:focus, a:hover,
#requirements_table td a:focus, a:hover {
    color: #1d1e1f;
    text-decoration: underline;
}

.colum-toggle-button,
.reset-colum-toggle {
    width: 14em;
}

.type-error {
    background-color: red;
}

.type-error-head {
    background-color: goldenrod;
}


#requirement_modal .modal-lg {
    max-width: 90%;
}


/**
 Textcomplete styling.
 */
.dropdown-menu .textcomplete-item a,
.dropdown-menu .textcomplete-item a:hover {
  cursor: pointer;
  font-weight: normal;
  color: #000;
  position: relative;
  padding: 3px 10px;
}

.dropdown-menu .textcomplete-item.active a {
  background: #F0F0F0;
}

.dropdown-menu .textcomplete-item a em {
  font-style: normal;
  font-weight: bold;
}
.dropdown-menu .textcomplete-footer {
  border-top: solid 1px #F0F0F0;
  margin-top: 3px;
}

/**
* Modal specific styling
 */

/* Prevent overflow for formalizatioin titles. */
.card-header{
    overflow: hidden;
}

/**
* graph
 */
#cy {
  width: 100%;
  height: 800px;
  display: block;
}

#log_textarea {
    height: 200px;
    overflow-y: scroll;
}