.row-spacing {
    margin-bottom: 1rem;
}

#log_textarea {
    height: 200px;
    overflow-y: scroll;
}

#cy {
  width: 100%;
  height: 800px;
  display: block;
}

.type-error {
    background-color: var(--bs-danger);
}

/* TODO: Fix it ... awesomplete builds div around input */
.input-group div.awesomplete {
    flex: 1 1 auto;
    z-index: 3;
}

.input-group div.awesomplete .form-control {
    border-radius: 0;
}

/* Fix jQuery UI */
.ui-front {
    z-index: 9999999 !important;
}

/* Fix Tokenfield close button */
.tokenfield .close {
    color: #000;
    opacity: .2;
    text-decoration: none;
}

#var_import_table > tbody > tr > td,
#requirements_table > tbody > tr > td {
    word-break: break-all;
}