.simulator-variables .form-floating label {
    width: calc((100% - 0.15rem) / 0.85)
}

.simulator-variables .form-floating label .lhs {
    float: left;
    width: 80%;
    display: inline-block;
}

.simulator-variables .form-floating label .rhs {
    float: none;
    width: 20%;
    display: inline-block;
    overflow: hidden;
    text-align:right;
}

.simulator-variables .was-validated .form-control:invalid, .simulator-variables .form-control.is-invalid {
    background-position-y: 1.625rem;
}
