<div id="tag_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tag_modal_title" class="modal-title"></h5>
                <input type="hidden" id="tag_name_old" hidden/>
                <input type="hidden" id="occurences" hidden/>
                <input type="hidden" id="modal_associated_row_index" hidden/>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5>Properties</h5>
                <div class="row g-2 row-spacing">
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text" id="name-addon" style="width: 5em">Name</span>
                            <input type="text" class="form-control reqirement-tag" id="tag_name"
                                   aria-describedby="name-addon" aria-label="Name" title="Name">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-group">
                            <span class="input-group-text" id="color-addon" style="width: 5em">Color</span>
                            <input type="color" class="form-control" style="height: 2.5rem" id="tag_color"
                                   aria-describedby="color-addon" aria-label="Color" title="Color">
                        </div>
                    </div>

                    <div class="col-6">
                        <input type="checkbox" class="btn-check" id="tag_internal" autocomplete="off">
                        <label class="btn btn-outline-success col-12" for="tag_internal">Process</label>
                    </div>

                    <!--
                    <div class="input-group col-6">
                        <span class="input-group-text" id="internal-addon" style="width: 5em">Process</span>
                        <input type="checkbox" class="form-control" style="height: 2.5rem" id="tag_internal">
                    </div>

                    <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                    <label class="btn btn-outline-success" for="btn-check">Process</label>
                    -->
                </div>

                <h5>Description</h5>
                <div class="row g-2">
                    <div class="input-group col-md-12">
                        <textarea type="text" id="tag-description" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save_tag_modal" type="button" class="btn btn-primary col-2">Save changes</button>
                <button name="delete"
                        class="delete_tag btn btn-large btn-danger col-2"
                        data-toggle="confirmation"
                        data-btn-ok-label="Yes"
                        data-btn-ok-class="btn-success"
                        data-btn-cancel-label="Nooo Stoooop!"
                        data-btn-cancel-class="btn-danger"
                        data-title="Sure?" data-content="Delete this Tag?">
                    Delete
                </button>
                <button type="button" class="btn btn-secondary col-2" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>