Flask~=3.0.3
Flask-DebugToolbar~=0.15.1
Flask-Assets~=2.1.0 # TODO: Unused functionality. Check if it can be removed.
Flask-Pydantic~=0.12.0

colorama~=0.4.6
inquirerpy~=0.3.4
jinja2~=3.1.4
jsbeautifier~=1.15.1
lark-parser~=0.12.0
openpyxl~=3.1.3
packaging~=24.1
pydantic~=2.7.3
PySMT~=0.9.5
PyYAML~=6.0.1
requests~=2.32.3
terminaltables~=3.1.10
setuptools~=70.0.0 # TODO: Remove if PySMT version is > 0.9.5
uuid~=1.30
werkzeug~=3.0.3
immutabledict~=4.1.0
Deprecated~=1.2.14
sentry-sdk~=2.5.1

-r lib_pea/requirements.txt