agate==1.6.1
agate-dbf==0.2.1
agate-excel==0.2.3
agate-sql==0.5.4
aniso8601==3.0.2
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
blinker==1.4
certifi==2019.3.9
click==6.7
colorama==0.3.9
coverage==4.5.3
cssutils==1.0.2
csvkit==1.0.4
dbfread==2.0.7
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Assets==0.12
Flask-BabelEx==0.9.3
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.17.1
isodate==0.6.0
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10.1
jsmin==2.2.2
lark-parser==0.7.0
leather==0.3.3
MarkupSafe==1.1.1
more-itertools==7.0.0
nltk==3.4.5
numpy==1.14.5
openpyxl==2.6.1
pandas==0.24.2
parsedatetime==2.4
passlib==1.7.1
pathlib2==2.3.3
pluggy==0.9.0
py==1.8.0
pytest==4.4.1
python-dateutil==2.8.0
python-slugify==3.0.0
pytimeparse==1.1.8
pytz==2018.5
redis==3.2.1
rq==1.0
scikit-learn==0.19.2
scipy==1.1.0
sentry-sdk==0.7.11
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
speaklater==1.3
terminaltables==3.1.0
text-unidecode==1.2
urllib3==1.25
webassets==0.12.1
Werkzeug==0.15.5
WTForms==2.2.1
xlrd==1.2.0
