.ts-editor {
    border: 1px solid #ccc;
    width: 100%;
    height: 600px;
    cursor: default;
}

.node circle {
    fill: white;
    stroke: black;
    cursor: move;
    stroke-width: 2px;
}

.node text {
    fill: black;
    font-size: 14px;
    pointer-events: none;
}

.node line {
    display: none;
    stroke: #999;
    stroke-width: 2;
    marker-end: url(#arrow);
}

.transition path {
    stroke: #999;
    stroke-width: 2;
    marker-end: url(#arrow);
    fill: none;
}

.node .initial {
    display: block;
}

.context-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-family: sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 4px;
}

.context-menu div {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu div:hover {
    background-color: #eee;
}

.context-menu hr {
  border: none;
  border-top: 1px solid #aaa;
  margin: 2px 0;
}

.selected-start circle {
    stroke: green;
    stroke-width: 4px;
}

.selected-end circle {
    stroke: red;
    stroke-width: 4px;
}