site_name: 'Hanfor Docs'
repo_url: 'https://github.com/ultimate-pa/hanfor'
repo_name: 'ultimate-pa/hanfor'
site_url: 'https://ultimate-pa.github.io/hanfor/'
edit_uri: 'edit/master/documentation/docs'
use_directory_urls: false

theme:
  name: 'material'
  custom_dir: 'overrides'
  features:
    - navigation.top
    - navigation.tracking
    - navigation.sections
    - search.share
    - search.suggest
    - toc.integrate
  font: false

extra_css:
  - 'stylesheets/extra.css'

markdown_extensions:
  - admonition
  - attr_list
  - figureAltCaption
  - footnotes
  - md_in_html
  - meta
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      toc_depth: 2
      permalink: ' #'
  #- mdlightbox

plugins:
  - awesome-pages
  - search
