Click==7.0
-e git+https://github.com/grandgeorg/figureAltCaption@7c1853e864ad753c41bbbbc49b3be9234681bd8e#egg=mdx-figurealtcaption
Jinja2==2.11.3
livereload==2.6.1
Markdown==3.3.4
markdown-include==0.5.1
-e git+https://github.com/aleksan4eg/markdown-lightbox@7dbf517cbb208179046237eb157e84e8826fda67#egg=markdown_lightbox
MarkupSafe==1.1.1
mkdocs==1.0.4
mkdocs-awesome-pages-plugin==2.3.1
pymdown-extensions==6.0
PyYAML==5.4
six==1.12.0
tornado==6.0.3
