{% extends "layout.html" %}

{% block title %}
    AI Dashboard
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview-content" role="tab"
                   aria-controls="overview-content" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="similarity-tab" data-bs-toggle="tab" href="#similarity-content" role="tab"
                   aria-controls="similarity-content" aria-selected="false">Similarity Interface</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ai-interface-tab" data-bs-toggle="tab" href="#ai-interface-content" role="tab"
                   aria-controls="ai-interface-content" aria-selected="false">AI Interface</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="logging-tab" data-bs-toggle="tab" href="#logging-content" role="tab"
                   aria-controls="logging-content" aria-selected="false">Logging</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content">
            {% include 'ai_html/overview.html' %}
            {% include 'ai_html/similarity_interface.html' %}
            {% include 'ai_html/ai_interface.html' %}
            {% include 'ai_html/logging.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var base_url = '{{ url_for("specs") }}';
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename=BUNDLE_JS) }}"></script>
{% endblock %}