<div class="tab-pane fade" id="logging-content" role="tabpanel" aria-labelledby="logging-tab">
    <label for="idSearch">Choose ID:</label>
    <input type="text" id="idSearch" placeholder="search ID ...">
    <label for="idDropdown">Available IDs:</label>
    <select id="idDropdown" size="10"></select>
    <div id="log-container">
        <!-- Log will be displayed here -->
    </div>
</div>

<style>
    #idDropdown {
        width: 100%;
        max-height: 150px;
        overflow-y: auto;
    }
</style>
