<div class="row g-2">
    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text" id="multi-change-type" style="width: 7em">To Type</span>
            <input type="text" class="form-control" id="multi-change-type-input" aria-describedby="multi-change-type">
        </div>
    </div>

    <div class="col-auto">
        <button class="btn btn-primary apply-multi-edit" type="button">Apply multi edit.</button>
    </div>

    <div class="col-auto">
        <button name="delete" class="delete_button btn btn-danger"
                data-toggle="confirmation" data-btn-ok-label="Yes" data-btn-ok-class="btn-success"
                data-btn-cancel-label="Nooo Stoooop!" data-btn-cancel-class="btn-danger" data-title="Sure?"
                data-content="Delete all selected variables?">
            Delete selected variables.
        </button>
    </div>
</div>