<div id="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExSessions"
                    aria-expanded="false" aria-controls="collapseExSessions">
                Existing Hanfor Sessions
            </button>
        </h2>
        <div id="collapseExSessions" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for ses in available_sessions %}
                    <h6><code>{{ ses.name }}</code></h6>
                    <ul>
                        {% for revision, revision_stats in ses.revisions_stats.items() %}
                            <li>
                                <a href="#" class="import_link" data-name="{{ ses.name }}"
                                   data-revision="{{ revision }}">
                                    <code>{{ revision }}</code>
                                    with {{ revision_stats.num_vars }} variables
                                    (Last edit: {{ revision_stats.last_mod }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseAvImportSessions"
                    aria-expanded="false" aria-controls="collapseAvImportSessions">
                Running Import Sessions
            </button>
        </h2>
        <div id="collapseAvImportSessions" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% for sess_id, ses in running_import_sessions.items() %}
                    {% if config.SESSION_TAG == ses.target[2] %}
                        <h6>
                            <a href="{{ url_for('site', site='/') }}/variable_import/{{ ses.id }}" target="_blank">
                                <code>Session{{ ses.id }}</code>
                            </a>
                        </h6>
                        <ul>
                            <li>Source: <code>{{ ses.source[2] }} - {{ ses.source[1] }}</code></li>
                            <li>Target: <code>{{ ses.target[2] }} - {{ ses.target[1] }}</code></li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>